/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: transparent;
    font-size: 120%;
    margin: 10%;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #000;
    margin-top: 2%;
    margin-right:3%;
  }
  
  .close-button:hover {
    color: #333;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
  }
  
  .hr-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
  }
  
  .forgot-password {
    text-align: left;
    font-size: 14px;
    color: #007bff;
    text-decoration: underline;
    margin: 10px 0;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Social login styles */
  .social-login {
    margin-top: 20px;
  }
  
  .social-login p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
  }
  
  .social-login p .hr-line {
    flex: 1;
    margin: 0 10px;
  }
  
  .social-login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .social-login .google {
    background-color: #db4437;
    color: #fff;
  }
  
  .social-login .google:hover {
    background-color: #c23321;
  }
  
  .social-login .facebook {
    background-color: #1877f2;
    color: #fff;
  }
  
  .social-login .facebook:hover {
    background-color: #165dbb;
  }