/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
    margin: 0; /* Remove margin */
  }
  
  .hr-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0; /* Remove margin */
  }
  
  .terms {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .terms input {
    margin-right: 10px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
